<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css" href ="style.css"/>
</head>
<body>
<input type="text" placeholder="Input id" id="id_user">
<hr>
<button onclick="Del_Reception()">Delete null reception</button>
<button onclick="Del()">Delete</button>
<button onclick="Send()">Refresh</button>

<div class="topnav">
    <a href="/reg">Register</a>
    <a href="/aut">Autorisation</a>
    <a href="/">Main</a>
    <div id="admin_aut"></div>
    <h1 class="HeaderText">Hospital</h1>
</div>

<div class="content">
    <h2>CSS Template</h2>
    <p>A topnav, content and a footer.</p>
</div>
<div id="result_for_login"></div>
<div id="result_for_delete"></div>
<div class="footer">
    <p>Footer</p>

</div>
<script type="text/javascript">
    Send();
    async function Send() {
        document.getElementById('result_for_delete').innerHTML="";
        let response = await fetch("/api/v1/admin/admin",
            {
                method: 'POST',
                headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
                body: JSON.stringify({
                    User_id:  localStorage.getItem('User_id'),
                    Role_id: localStorage.getItem('Role_id')
                })
            });
        let data = await response.json();
        document.getElementById('result_for_login').innerHTML = "";
        if(response.status === 200)
        {
            console.log(data.users);
            console.log(localStorage.getItem('token'));
            console.log(localStorage.getItem('Role_id'));
            document.getElementById('result_for_login').innerHTML =data.users;
            document.getElementById('admin_aut').innerHTML="<a href='/admin/admin/addDoctor'>Doctor</a>"
                +"<a href='/admin/admin/addPatient'>Patient</a>"
        }
        else
        {
            document.getElementById('result_for_login').innerHTML="error";
        }
    }
    async function Del() {
        document.getElementById('result_for_delete').innerHTML="";
        let response = await fetch('/api/v1/admin/delUser/'+document.getElementById('id_user').value, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json', 'Accept': 'application/json'
            }
        });
        let data = await response.json();
        if(response.status === 200)
        {
            document.getElementById('result_for_delete').innerHTML ="Delete:"+ data.userError;
            //  window.location.href = '/login';
        }
        else
        {
            document.getElementById('result_for_delete').innerHTML= "Delete:"+data.userError+"<br>";

        }
        document.getElementById('id_user').value="";
    }
    async function Del_Reception() {
        document.getElementById('result_for_delete').innerHTML="";
        let response = await fetch('/api/v1/admin/delreception', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json', 'Accept': 'application/json'
            }
        });
        let data = await response.json();
        if(response.status === 200)
        {
            document.getElementById('result_for_delete').innerHTML ="Delete reception:"+ data.userError;
            //  window.location.href = '/login';
        }
        else
        {
            document.getElementById('result_for_delete').innerHTML= "Delete reception:"+data.userError+"<br>";

        }
    }
</script>
</body>
</html>