
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>

    <link rel="stylesheet" type="text/css" href ="style.css"/>

</head>
<body>

<div class="topnav">
    <a href="/reg">Register</a>
    <a href="/aut">Autorisation</a>
    <a href="/" >Main</a>
    <a href="/admin">Back</a>
    <h1 class="HeaderText">Hospital</h1>
</div>
<div class="contentreg">
    <b>id User</b>
    <input type="text" placeholder="id User" id="id" autofocus>
    <hr>
    <b>Name hospital</b>
    <input type="text" placeholder="Name hospital" id="name_hospital">
    <hr>
    <b>Passport</b>
    <input type="text" placeholder="Passport" id="Passport">
    <hr>
    <b>Specialty</b>
    <input type="text" placeholder="Specialty" id="Specialty">
    <hr>
    <button onclick="Send()">Submit</button>
    <hr>
    <hr>
    <hr>
    <b>Del for id Doctor</b>
    <input type="text" placeholder="input id doctor" id="id_del">
    <hr>
    <button onclick="Del()">Submit</button>
    <hr>
    <hr>
    <b>id Doctor</b>
    <input type="text" placeholder="id User" id="id_doctor">
    <hr>
    <b> new Name hospital</b>
    <input type="text" placeholder="Name hospital" id="name_hospital_doctor">
    <hr>
    <b>new Passport</b>
    <input type="text" placeholder="Passport" id="Passport_doctor">
    <hr>
    <b> new Specialty</b>
    <input type="text" placeholder="Specialty" id="Specialty_doctor">
    <hr>
    <button onclick="Update()">Submit</button>

</div>
<script type="text/javascript">
    async function Update() {
        document.getElementById("result_for_update").innerHTML="";
        let send={
            id:document.getElementById('id_doctor').value,
            passport:document.getElementById('Passport_doctor').value,
            name_Hospital:document.getElementById('name_hospital_doctor').value,
            specialty:document.getElementById('Specialty_doctor').value
        };
        console.log(send);
        let response = await fetch('/api/v1/admin/updateDoctor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', 'Accept': 'application/json'
            },
            body: JSON.stringify(send)
        });
        let data = await response.json();
        document.getElementById("result_for_update").innerHTML = "";
        if(response.status === 201)
        {
            document.getElementById("result_for_update").innerHTML = "You are successfully delete";
            //  window.location.href = '/login';
        }
        else
        {
            data.errors.forEach(err =>
            {
                //   document.querySelector("#result" + err.field).className = "error";
                document.getElementById("result_for_update").innerHTML=err.field+':'+err.message;
            });
        }
    }
    async function Del() {
        document.getElementById("result_for_delete").innerHTML="";
        let send={
            id:document.getElementById('id_del').value
        };
        console.log(send);
        let response = await fetch('/api/v1/admin/delDoctor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', 'Accept': 'application/json'
            },
            body: JSON.stringify(send)
        });
        let data = await response.json();
        document.getElementById("result_for_delete").innerHTML = "";
        if(response.status === 201)
        {
            document.getElementById("result_for_delete").innerHTML = "You are successfully delete";
            //  window.location.href = '/login';
        }
        else
        {
            data.errors.forEach(err =>
            {
                //   document.querySelector("#result" + err.field).className = "error";
                document.getElementById("result_for_delete").innerHTML=err.field+':'+err.message;
            });
        }
    }

    async function Send() {
        document.getElementById("result").innerHTML="";
        let send={
            id:document.getElementById('id').value,
            passport:document.getElementById('Passport').value,
            name_Hospital:document.getElementById('name_hospital').value,
            specialty:document.getElementById('Specialty').value
        };
        console.log(send);
        let response = await fetch('/api/v1/admin/addDoctor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', 'Accept': 'application/json'
            },
            body: JSON.stringify(send)
        });
        let data = await response.json();
        document.getElementById("result").innerHTML = "";
        if(response.status === 201)
        {
            document.getElementById("result").innerHTML = "You are successfully add";
            //  window.location.href = '/login';
        }
        else
        {
            data.errors.forEach(err =>
            {
                //   document.querySelector("#result" + err.field).className = "error";
                document.getElementById("result").innerHTML=err.field+':'+err.message;
            });
        }
    }


</script>
<div class="footer">
    <div  id="result"></div>
    <div  id="result_for_delete"></div>
    <div  id="result_for_update"></div>
</div>
</body>
</html>