<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>

    <link rel="stylesheet" type="text/css" href ="style.css"/>

</head>
<body>

<div class="topnav">
    <a href="/reg">Register</a>
    <a href="/aut">Autorisation</a>
    <a href="/" >Main</a>
    <a href="/" onclick="LogOut()">LogOut</a>
    <h1 class="HeaderText">Hospital</h1>
</div>

<div class="content">
    <h2>CSS Template</h2>
    <p>A topnav, content and a footer.</p>
</div>

<div class="footer">
    <p>Footer</p>
    <div id="doc_or_patient"> </div>

</div>
//https://inter-net.pro/javascript/sort-table
<script type="text/javascript">
    function LogOut(){
        localStorage.setItem('token', 0);
        localStorage.setItem('email', 0);
        localStorage.setItem('Role_id',0);
        localStorage.setItem('User_id',0);
        localStorage.setItem('who',0);
        document.getElementById('doc_or_patient').innerHTML="";
    }
    console.log(localStorage.getItem('Role_id'));
    if(localStorage.getItem('who')==="pat"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/patient'>Reception</a>";
    }
    else if(localStorage.getItem('who')==="doc"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/doctor'>Doctor</a>";
    }
    else if(localStorage.getItem('who')==="adm"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/admin'>Admin</a>";
    }
    else{
        document.getElementById('doc_or_patient').innerHTML="";
    }
</script>
</body>
</html>