<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>

    <link rel="stylesheet" type="text/css" href ="style.css"/>

</head>
<body>

<div class="topnav">
    <a href="/reg">Register</a>
    <a href="/aut">Autorisation</a>
    <a href="/" >Main</a>
    <a  onclick="LogOut()">LogOut</a>
    <div id="doc_or_patient"> </div>
    <h1 class="HeaderText">Hospital</h1>

</div>

<div class="content"  id="index_main">
    <h2 >Welcome</h2>
    <img src="https://static10.tgstat.ru/channels/_0/c6/c65b656e163573a7e05e18839666cf5d.jpg" alt="смайлик">
    <div class="container1 src_link" >
        <div class="row">
            <div class="column img_src"  >
                <img src="https://proza.ru/pics/2013/02/09/1650.jpg" width="250" height="250">
            </div>
            <div class="column" >
                As the world faces a new era of emerging and re-emerging infectious diseases, new technologies are paving the way for safer, more effective treatment options.
                At the start of the COVID-19 Pandemic, a small team of doctors and medical device execs in Phoenix, AZ raised over $70k to ship 500+
                boxes as a rapid response emergency use device to protect healthcare workers across the country.
                They were created and shipped free of charge thanks to generous contributions procured by our team.
                Mayo Clinic was one facility that received boxes from our team.
                A collaboration quickly formed to turn the simple design of the Intubation Box into a Self-Contained Negative Pressure Environment.
            </div>
            <div class="column" ></div>

        </div>
    </div>

</div>

<div class="footer">
    <p>buy a footer from the link :<a href="https://vk.com/kirysha.bolvako">buy</a></p>

</div>

<script type="text/javascript">
    function LogOut(){
        localStorage.clear();
        document.location.href = "/aut";
        document.getElementById('doc_or_patient').innerHTML="";
    }
    console.log(localStorage.getItem('Role_id'));
    if(localStorage.getItem('who')==="pat"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/patient'>Reception</a>";
    }
    else if(localStorage.getItem('who')==="doc"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/doctor'>Doctor</a>";
    }
    else if(localStorage.getItem('who')==="adm"){
        document.getElementById('doc_or_patient').innerHTML="<a href='/admin'>Admin</a>";
    }
    else{
        document.getElementById('doc_or_patient').innerHTML="";
    }
</script>
</body>
</html>

